.cart-item{
   
    display:flex;
    background-color: #140e27;
    padding:7px;
    margin: 10px;
    color: #fff;
    border-radius: 8px;
    align-items: center;
    justify-content: space-between;
}
.cart-item img{
    width:70px;
    height:70px;
    border-radius: 100%;

}
.icon{
    font-size: 120px;
}