/* #dbdbdd */
.card{
    height:450px;
    width:250px;
    border:2px solid rgb(27, 27, 55);
   
    border-radius: 10px;
    position: relative;
}
.cart-info{
 padding:10px;
}
.card img{
    height:280px;
    width:100%;
    border-radius: 10px;
}
.card h2,h3{
    margin-top: 0px;
}
.cart-btn{
    padding:7px 12px;
    /* width:170px; */
    font-size: 18px;
    position: absolute;
    bottom:0px;
    width:100%;
    border: none;
    background-color: rgb(20, 18, 50);
    color: #fff;
    border-radius: 8px;
}
.icon{
    font-size: 20px;
    margin-left: 5px;
}