.shop-container{
    display: grid;
    grid-template-columns: 9fr 3fr;
   
}
.product-container{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:20px;
    margin:30px 10px;
}
.cart-container{
    position: sticky; 
    top: 0;
    height:600px;
    text-align: center;
    background: rgba(84, 69, 113, 0.3);
}
.cart-button{
    padding:8px 14px;
    background-color: rgb(23, 48, 103);
    color:#FFF;
    font-size: 18px;
    border:none;
    border-radius: 7px;
    margin:10px;
}
@media screen and (max-width:750px) {
    .product-container{
        grid-template-columns: repeat(1, 1fr);
        gap:25px;
        margin:0 auto;
        
    }
    .shop-container{
        display: flex;
        flex-direction: column;
    }
    .cart-container{
        order: 0;
        position: relative;
    }
    .product-container{
        order:2
    }

}


