.cart-container{
    
    position: sticky; 
    top: 0;
    height:800px;
    text-align: center;
}
.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
   
}
.product-container{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:25px;
    margin:30px 50px;
}
.cart-container{
    margin-top: 30px;
    position: sticky;
    top:10px;
    background: rgba(84, 69, 113, 0.3);
}
.cart-button{
    padding:8px 14px;
    background-color: rgb(23, 48, 103);
    color:#FFF;
    font-size: 18px;
    border:none;
    border-radius: 7px;
    margin:10px;
}
@media screen and (max-width:700px) {
    .product-container{
        grid-template-columns: repeat(1,1fr);
    }
}


/* State অনেকটা props এর মতই, কিন্তু এটি প্রাইভেট এবং কম্পোনেন্ট এটিকে সম্পূর্ণভাবে নিয়ন্ত্রণ করে। */